* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: rgb(152, 146, 255);
  background: linear-gradient(139deg, rgb(152, 146, 255) 0%, rgb(216, 231, 236) 43%, rgb(185, 251, 235) 100%);
}

nav {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100vw;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  z-index: 2;
  margin-bottom: 3%;
}

.wrapper {
  margin: 0 auto;
  justify-content: flex-end;
}

.nav-items {
  display: block;
}

.nav-items a {
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s;
}

.nav-items i {
  color: #ffd700;
  margin-left: 50px;
  font-size: 24px;
}

.nav-items a:hover {
  color: #ffd700;
}

nav .nav-logo span {
  color: #ff0000;
  font-size: 24px;
  margin-left: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-logo {
  color: #ffd700;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 550px;
}

.nav-items a:active {
  color: red;
}

footer {
  bottom: 0px;
  margin-top: 10%;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

footer .fa-facebook-f {
  color: #4267b2;
  text-transform: none;
}

footer .fa-youtube {
  color: #ff0000;
}

footer .fa-spotify {
  color: #1db954;
}

footer .fa-discord {
  color: #5865f2;
}

footer .fa-brands {
  display: inline-block;
  margin: 0 40px;
  padding: 4px;
  font-size: 28px;
  cursor: pointer;
}

footer .footer-text {
  font-size: 20px;
  margin-top: 24px;
  color: #c0c0c0;
}

footer .footer-text .logo-text {
  color: #ff0000;
}

footer .pl-text {
  color: #ffd700;
}

.contact-form {
  padding: 30px;
  width: 600px;
  background-color: #fff;
  border-radius: 24px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.contact-form label {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 22px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  padding: 15px;
  font-size: 16px;
  border: 2px solid hsl(0, 0%, 67%);
  border-radius: 12px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

.contact-form button {
  padding: 12px;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s;
}

.contact-form button:hover {
  color: #fff;
  background: linear-gradient(139deg, rgb(54, 42, 246) 0%, rgb(30, 186, 240) 43%, rgb(1, 255, 192) 100%);
}

.msg-status {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  padding: 30px;
  width: 600px;
  border-radius: 12px;
  font-size: 24px;
}

.success {
  display: flex;
  background-color: hsl(143, 83%, 55%);
}

.error {
  display: flex;
  background-color: hsl(9, 100%, 64%);
}

.sugg h1 {
  text-transform: uppercase;
  margin-bottom: 24px;
  color: royalblue;
}

.contact {
  padding-bottom: 30px;
}

.contact .container .contact-logo {
  position: relative;
  height: 20vh;
  top: 3vh;
  text-align: center;
  color: #ffd700;
  text-shadow: 1px 1px 5px #000;
}

.contact .container .contact-logo span {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.contact .container .contact-card {
  width: 55vw;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.contact .container .contact-card iframe {
  height: 100%;
}

.contact .container .contact-card .contact-text {
  margin-top: 1%;
}

.contact .container .contact-card .contact-text .contact-icon {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 28px;
  text-shadow: 1px 1px 4px #404040;
}

.contact .container .contact-card .contact-text .contact-icon i {
  color: #ffd700;
}

.contact .container .contact-card .contact-text .contact-icon span {
  margin-left: 10px;
  text-shadow: 1px 1px 4px #404040;
}

.pg-photo {
  width: 40vw;
  height: 40vh;
  margin-bottom: 4%;
  border: 2px solid black;
  border-radius: 12px;
}

.pg {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
}

.project {
  font-size: 20px;
}

.formula {
  margin-top: 24px;
}

.clock {
  display: grid;
  height: 100%;
  place-items: center;
}

.wrapper1 {
  position: absolute;
  top: 50vh;
  left: 47.5%;
  cursor: default;
  height: 100px;
  width: 360px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  animation: animate 1.5s linear infinite;
}

.wrapper1 .display,
.wrapper1 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper1 .display {
  z-index: 1;
  background: #1b1b1b;
  height: 85px;
  width: 345px;
  border-radius: 6px;
  text-align: center;
}

.wrapper1 .display #time {
  line-height: 85px;
  z-index: 2;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
.wrapper1 span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 10px;
}

.wrapper1 span:first-child {
  filter: blur(30px);
}

.wrapper1 span:last-child {
  filter: blur(50px);
}

.card-box1 {
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
}

.card-body1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}

.card-body1 h2 {
  margin-bottom: 1em;
  color: royalblue;
}

.card-body1 p {
  margin-bottom: 2em;
  font-size: 14px;
  font-weight: bold;
}

.card-body1 .read-more {
  margin-top: auto;
  color: royalblue;
  text-decoration: none;
  font-weight: bold;
}

.card1 a img {
  width: 100%;
}

.top h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: royalblue;
}

.svg {
  margin-top: 3%;
}/*# sourceMappingURL=style.css.map */